footer{
    width: 100%;
}

footer .social-networks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 114px;
    border-bottom: 1px solid #eeeeee;
}

.social-networks > section{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    font: 700 14px 'Myriad Pro', sans-serif;
    text-transform: uppercase;
    color: #575c5c;
}

.social-networks > section div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    cursor: pointer;
}

footer .navigation{
    width: 100%;
    height: 332px;
    padding-left: 120px;
    transition: 1s background ease-in;
}

footer .navigation.active{
    background: #737373;
}

.navigation .information{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 43.8%;
    height: 100%;
    margin: 0 auto;
    padding: 21px 0 33px 0px;
}

.navigation .information .logo{
   margin-right: 120px;
   width: 241px;
   height: 170px;
   transition: 1s background-image ease-in;
   background: url('../media/images/logo.png') center/contain no-repeat;
}

.navigation.active .information .logo{
    background-image: url('../media/images/white-logo.png');
}

.navigation .information ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}

.navigation .information li{
    list-style: none;
    font: 400 16px 'Myriad Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.navigation.active .information li{
    pointer-events: none;
}

.navigation .information a{
    text-decoration: none;
    color: #242929;
}

.navigation.active .information a{
    cursor: default;
}